// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

h2 {
    font-size: 24px;
    border-bottom: solid 1px #929292;
    padding: 5px;
    svg {
        height: 16px;
        padding-left: 8px;
        display: inline;
        color: #929292;
    }
}


.sideNavContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    .add-new-container {
        margin-top: auto;
    }

    .side-nav-folder{
        font-weight: 800;
        border-bottom: 1px solid #929292;
        padding-bottom: 5px;
        margin-bottom: 5px;
        a {
            font-weight: 400;
            padding-left: 20px;
        }
        svg{
            height: 16px;
            padding-left: 8px;
            display: inline;
            color: #929292;
            padding-bottom: 5px;
            padding-right: 3px;
        }
    }
}


.bg-yellow-100{
    background: yellow;
}