// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

h2 {
    font-size: 24px;
    border-bottom: solid 1px #929292;
    padding: 5px;
    svg {
        height: 16px;
        padding-left: 8px;
        display: inline;
        color: #929292;
    }
}


.sideNavContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    .add-new-container {
        margin-top: auto;
    }

    select {
        width: 100%;
        padding: 5px;
    }

    .side-nav-folder{
        font-weight: 800;
        border-bottom: 1px solid #929292;
        padding-bottom: 5px;
        margin-bottom: 5px;
        a {
            font-weight: 400;
            padding-left: 20px;
        }
        svg{
            height: 16px;
            padding-left: 8px;
            display: inline;
            color: #929292;
            padding-bottom: 5px;
            padding-right: 3px;
        }
    }
}


.bg-yellow-100{
    background: rgb(160, 160, 160);
}

.gemini_submit {
    width: 100%;
    padding: 5px;
    margin: 0;
    margin-top: -10px;
}

#main {
    width: 80vw;
    div {
        form{
            div {
                margin: 0;
                padding: 0;
                textarea {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }


}

input, textarea {
    border: 1px solid gray;
    border-radius: 5px;
}

h1 {
    display: flex;
    margin: 0;
    font-weight: 800;
    font-size: 16px;
    padding-left: 30px;
}



nav a {padding: 0 20px; font-size: 14px; font-weight: 800; padding-right: 50px}

textarea.chatBox {
    width: 100%;
    height: 100px;
}

#container {
    display: flex;
    flex-direction: row;
    flex: 1;
    #main {
        .scroll-history {
            height: 50vh;
            overflow-y: scroll;
            flex-grow: 1;
        }
    }

    .ai-form-footer {
        border-top: 1px solid gray;
        display: flex;
        justify-content: space-between;
        .crud-icon {
            height: 30px; 
            width: 30px;
            background-color: transparent;
            color: gray;
        }
    }
}

div {
    padding: 5px;
}

.site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 15vh;
}

.icon-small svg {
    height: 10px;
    display: inline;
}
