// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

h2 {
    font-size: 24px;
    border-bottom: solid 1px #929292;
    padding: 5px;
    svg {
        height: 16px;
        padding-left: 8px;
        display: inline;
        color: #929292;
    }
}

.crud-icon svg {
    height: 16px;
    width: 16px;
}